
/* products */
.produse-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product{
  width: 350px;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 24px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  border-radius: 10px; 
}

.product:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

@media(min-width: 768px){
  .product{
    width: 300px;
  }
}

.product .product-img{
  width: 180px;
  height: 215px;  
}

.product .product-img img{
  width: 100%;
  height: 100%;
}

.product .product-text{
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;  
}

.product .product-text.title{
  color: #e00a02;  
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.product .product-text.description{
  height: 50px;
  overflow: hidden;
}

.product .product-text.price{
  font-weight: 600;
}

.product .product-text.cart-price{
  font-weight: 600;
  color: #e00a02;
}
.produse-reptile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/c3/26/75/c326757d6bf408c980d59e9eb907f330.png");
  background-size:  cover;
}
.text-center-reptile {
  position: relative;
  background: url("https://t3.ftcdn.net/jpg/00/96/51/96/360_F_96519638_Xy1k8DRgK1BaQJeuRSPL42mjjZ7bkJO7.jpg");
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: transparent;
  font-weight: 500;
  font-size: 40px;
  margin-top: -40px;
   margin-bottom: 20px;
}

.text-center-reptile::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s infinite;
  background-size: 200%;
  text-shadow: 2px 2px 10px rgba(#000, 0.2), -2px 2px 10px rgba(#000, 0.2),
    -2px -2px 10px rgba(#000, 0.2);
}

@keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}


html,
body {
  height: 100%;
}

.text-center-reptile {
  top: 20%;
  left: 810px;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 100px; 
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}
